<div class="row">
  <div class="col-sm-12">
    <button routerLink="/play/1" type="button" class="btn btn-default" tooltip="Preview gameplay">
      <span class="glyphicon glyphicon-play"></span>
    </button>
    
    <button type="button" class="btn btn-default" tooltip="Add new state">
      <span class="glyphicon glyphicon-plus"></span>
    </button>

    <button type="button" class="btn btn-default" tooltip="Add new transition">
      <span class="glyphicon glyphicon-arrow-right"></span>
    </button>
  </div>
</div>

<div id="paper"></div>
