.pattern-list-item {
    margin-bottom: 10px;
}

.play-btn {
    vertical-align: middle;
    margin-top: -5px;
}

#right-margin-fix {
    margin-right: -28px;
}

.panel-right {
    margin-left: 8px;
}

a {
    text-decoration: none;
}

a {
    color: #1a1a1a;
}

a:hover {
    color: #4d4d4d;
}

.icon {
    width: 8%;
    height: 8%;
    vertical-align: middle;
    margin-top: -5px;
    display: inline-block;
}

.icon img {
    max-width: 100%;
    max-height: 100%;
}

a .glyphicon-ok {
    color: #00b300;
}

a:hover .glyphicon-ok {
    color: #008000
}

a .glyphicon-remove {
    color: #e60000;
}

a:hover .glyphicon-remove {
    color: #b30000;
}

.row{
    margin-bottom: 1rem;
}
