<div class="row">
  <div class="col-sm-12">
    <button type="button" class="btn btn-default" tooltip="Preview gameplay" (click)="playPattern()">
      <span class="glyphicon glyphicon-play"></span>
    </button>
    <button type="button" class="btn btn-default" (click)="switchToUml()" tooltip="Switch to UML view">
      <img src="src/resources/diagram-icon2.svg" height="18px">
    </button>
    <button type="button" class="btn btn-default" (click)="stateModal.show()" tooltip="Add new state">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>
</div>

<accordion>
  <div class="list-item" *ngFor="let state of states">
    <accordion-group #group [panelClass]="state.id == startStateId ? panelStart : panelDefault">
      <div accordion-heading>
        <i class="pull-left float-xs-left glyphicon"
         [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
        <b>&ensp;{{state.id}}: {{state.name}}</b>
        
        <span class="pull-right float-xs-right">
          <a class="panel-right" tooltip="Set as start" (click)="setStartState(state.id)">
            <span class="glyphicon glyphicon-play"></span>
          </a>
          <a class="panel-right" tooltip="Edit" (click)="editState(state); stateModal.show()">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
          <a class="panel-right" tooltip="Delete" (click)="deleteState(state.id)">
            <span class="glyphicon glyphicon-trash"></span>
          </a>
        </span>
      </div>
      
      <p>
        {{state.description}}
      </p>

      <button type="button" class="btn btn-default list-item" (click)="editTransition(state.id, null); transitionModal.show()" tooltip="Add new transition">
        <span class="glyphicon glyphicon-plus"></span>
      </button>

      <accordion>
        <div class="list-item" *ngFor="let transition of state.transitions">
          <accordion-group #group>
            <div accordion-heading>
              <i class="pull-left float-xs-left glyphicon"
              [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
              
              <b>&ensp;{{transition.stateTo.id}}: {{transition.stateTo.name}}</b>
              <i class="glyphicon glyphicon-arrow-left"></i>
              <b>{{transition.name}}</b>
              
              <span class="pull-right float-xs-right">
                <a class="panel-right" tooltip="Edit" (click)="editTransition(state.id, transition); transitionModal.show()">
                  <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a class="panel-right" tooltip="Delete" (click)="deleteTransition(transition.id, state.id)">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
              </span>
            </div>
            
            <p>
              {{transition.description}}
            </p>

            
          </accordion-group>
        </div>
      </accordion>
    </accordion-group>
  </div>
</accordion>

<div class="row">
  <div class="col-sm-12">
    <alert type="info" *ngIf="statesEmpty">
      <strong>Heads up!</strong> There are no states to display. To create new states click the plus button above.
    </alert>
  </div>
</div>

<div bsModal #stateModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">State</h4>
        <button type="button" class="close pull-right" (click)="stateModal.hide(); clearStateForm()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="stateForm" novalidate (ngSubmit)="saveState(stateForm.value, stateForm.valid)">
          <div>
            <label for="name">Name</label>
            <input type="text" class="form-control" formControlName="name">
            <small [hidden]="stateForm.controls.name.valid || (stateForm.controls.name.pristine && !stateFormSubmitted)">
                Name is required.
            </small>
          </div>
          <div>
            <label for="name">Description</label>
            <input type="text" class="form-control" formControlName="description">
            <small [hidden]="stateForm.controls.name.valid || (stateForm.controls.name.pristine && !stateFormSubmitted)">
                Description is required.
            </small>
          </div>

          <button type="submit" class="btn btn-primary divider" (click)="stateForm.valid ? stateModal.hide() : null">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div bsModal #transitionModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Transition</h4>
        <button type="button" class="close pull-right" (click)="transitionModal.hide(); clearTransitionForm()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="transitionForm" novalidate (ngSubmit)="saveTransition(transitionForm.value, transitionForm.valid)">
          <div>
            <label for="name">Name</label>
            <input type="text" class="form-control" formControlName="name">
            <small [hidden]="transitionForm.controls.name.valid || (transitionForm.controls.name.pristine && !transitionFormSubmitted)">
                Name is required.
            </small>
          </div>
          <div>
            <label for="name">Description</label>
            <input type="text" class="form-control" formControlName="description">
            <small [hidden]="transitionForm.controls.name.valid || (transitionForm.controls.name.pristine && !transitionFormSubmitted)">
                Description is required.
            </small>
          </div>
          <div>
            <label for="name">Target state</label>
            <input type="text" class="form-control" formControlName="stateToId">
            <small [hidden]="transitionForm.controls.name.valid || (transitionForm.controls.name.pristine && !transitionFormSubmitted)">
                Target state is required.
            </small>
          </div>

          <button type="submit" class="btn btn-primary divider" (click)="transitionForm.valid ? transitionModal.hide() : null">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>