<div class="row" *ngIf="isDataAvailable">
  <div class="col-md-8 col-md-offset-2">
    <div class="state-description">
      {{state.description}}
    </div>

    <div class="transitions" *ngFor="let transition of state.transitions">
      <a (click)="switchState(transition.stateToId)"><div class="well">{{transition.description}}</div></a>
    </div>

    <div *ngIf="isTransitionsEmpty" class="transitions">
      <a (click)="finish()"><div class="well">Finish</div></a>
    </div>
  </div>
</div>
